.box {
	width: 200px;
	height: 200px;
	background-size: contain;
}

.box1 {
	background: url("../images/cat.jpg") no-repeat center;
}

.box2 {
	background: url("../images/people.jpg") no-repeat center;
}
